beta_token=XXXXXXXXXXXXXXXXXXXXXXX.XXXXX.XXXXXXXXXXXXXXXX

botOwner=386479065307152384
suggestChannel=000000000000000000

token=XXXXXXXXXXXXXXXXXXXXXXX.XXXXX.XXXXXXXXXXXXXXXX

feedback=https://discord.com/api/webhooks/webhookID/webhookToken
panelChannel=1078958690029285406

apiPort=Port of the Lofi Girl API where the app is running
apiSelfPort=Port of the machine you want to use for this app